*{padding: 0; margin: 0}

body{
	background-image: url('../images/bg.gif');
}

.contianer{
	width: 780px;
	margin-left: auto;
	margin-right: auto;	
}
.header{
	background-image: url('../images/header.gif');
	background-repeat: repeat-y;
	height: 100px;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}
.header-text{
	color: #647c00;
	padding-top: 40px;
	margin-top: 20px;
	margin-left: 20px;
}
.menu{
	background-color: #8DB527;
	color: #F8FCF7;
	height: 25px;
	
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}
.content{
	background-image: url('../images/bg2.gif');
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 780px;
}
.aandacht{
	color: #647c00;
	font-weight: bolder;
}
.links{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 40px;
}
.rechts{
	float: right;
	margin-left: 20px;
	padding-right: 40px;
}
.footer{
	background-image: url('../images/footer.gif');
	background-repeat: no-repeat;
	height: 24px;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;

}
h2{
	color: #647c00;
	font-size: 17pt;
	padding-top: 30px;
	padding-left: 40px;

}
p{
	color: #000000;
	font-family: Verdana;
	padding-left: 40px;
}
p.footer{
	color: #fff;
	padding-top: 60px;
	padding-left: 10px;
}
.menu li{
	margin-left: 50px;
	font-family: Tahoma;
	display: inline-block;
}
.menu ul{
	padding-top: 5px;

}
.menu a{
	color: #F8FCF7;
	text-decoration: none;
}

.menu li:hover{
	text-decoration: underline;
	color: red;
}
