.tijd{
	padding: 5px 5px;
	border-radius: 10px;
	border: 2px solid green;
	width: 145px;
	font-style: oblique;
	
}
p{
	font-style: oblique;
	margin-left: 41px;
	
}
/*mobile*/
@media only screen and (min-width: 320px) {

	body{
	background-color: #bcbabe;
}

.tijd{
	
	padding: 5px 5px;
	margin-left: 1px;
	border-radius: 10px;
	border: 2px solid green;
	width: 10%;	
	text-align: center;
	font-size: 10pt;
	font-style: oblique;
	background-color: #acd0c0;
	margin-top: 40px;

}
.logo{
	width: 40px;
	float: right;
	
}
nav{
	background-color: rgba(173, 209, 193, 0.5);
	border: 2px solid green;
	position: absolute;
	left: 0;
	top: 0;
	right:0;
	
	

	}
	

nav li{
		display: inline;
		color: black;
		font-style: oblique;
		font-size: 11pt;
}


.menu{
	text-align: center;
	margin-top: 20px;	
}
.menu li {
	list-style: none;
	display: inline;
	border: 2px solid green;
	border-radius: 10px;
	padding: 5px 5px;
	margin-right: 10px;
	font-style: oblique;
	background-color: #acd0c0;	
}
.menu li:hover  {
  
  background-color: green;
  color: white;}

.menu a{
	text-decoration: none;
	
	color: black;	
}

.container{
	margin-left: auto;
	margin-right: auto;
	border: 2px solid green;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
	height: auto;
	background-color: #acd0c0;

}
p{
	font-style: oblique;
	margin-left: 20px;
}
h1{
	font-style: oblique;
	color: green;
	font-size: 25pt;
	margin-left: 51px;
	font-family: Arial;
	
}
hr{
	border-top: 1px solid black;
}
.gegevens{
	list-style: none;
	color: black;
	font-style: oblique;
}
.opleiding{
text-align: center;
font-style: oblique;
}

.voettekst{
	border: 2px solid green;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px ;
	width: 100%;
	border-radius: 10px;
	font-size: 10pt;
	background-color: #acd0c0;
	font-style: oblique;
	text-align: center;
	}
	.eigen{
		width: 100px;
		float: left;
		border: 1px solid green;
		border-radius: 10px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.tekst{
	text-align: center;
	padding-right: 10px;
	font-style: oblique;
	margin-top: 40px;
}


.afbeelding{
	

   text-align: center;
   margin-top: 20px;
 
}
.afbeelding a{
	position: relative;
    display:inline-block;
    text-decoration:none;
    color: black;
	margin-top: 20px;
	font-style: oblique;
}
img.game{
	
	 margin-left: 20px;
 }  
 img.gereedschap{
	 margin-right: 20px;
	}
	img.hobbit{
margin-right: 20px;

	}
	.afbeelding a img{
	  opacity: 0.4;
	  transition: 0.3s ease;
 }
 .mandarin:hover, .game:hover, .gereedschap:hover, .manuscript:hover, .goodday:hover, .madlibs:hover, .overall:hover{
 opacity: 1;

}

.dvc{
	 float: left;
	 width: 110px;
	 padding-right: 10px;
	 padding-left: 12px;
	 padding-top: 10px;
	 display: block;
	 
 }

 .tabel{
	margin-top: 30px;
}

input{
	font-style: oblique;
	padding-left: 5px;

	
}
label{
	 display: block;
	padding-left: 12px;
	 margin-bottom: 10px;
	 
 } 
 .verzendknop{
	 margin-left: 109px;
	 margin-top: 5px;
	 border: 2px solid green;
 }
textarea{
	resize: none;
	font-style: oblique;
	padding-left: 5px;

}
input:focus {
    outline: none !important;
    border: 1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

textarea:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

.panel{
	border: 1px solid #ddd;
	margin-top: 50px;
	background-color: #f0f0f0;
	padding: 20px;
	font-style: oblique;
	
}
.ulpanel{
	list-style: none;
}
 .facebook{
 	width: 100px;
 	padding-left: 12px;
 }
.twitter{
	width: 100px;
}
.instagram{
	width: 100px;
}
.socialmedia{
	margin-top: 20px;
}
}
@media only screen and (min-width: 444px) {
	h1{
		
		text-align: center;
	}
}
/*destkop*/
@media only screen and (min-width: 702px) {


body{
	background-color: #bcbabe;
}
.container{
	margin-left: auto;
	margin-right: auto;
	border: 2px solid green;
	border-radius: 10px;
	width: 75%;
	margin-top: 40px;
	height: auto;
	background-color: #acd0c0;
	 
}
nav{
	background-color: rgba(173, 209, 193, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	list-style: none;
	text-align: center;
	border: 2px solid green;
	position: fixed;
	

}

nav li{
		display: inline;
		text-align: center;
		margin-left: 50px;
		margin-right: 10px; 
		z-index: 99;
		color: black;
		font-style: oblique;
}


.menu{
	text-align: center;
	margin-top: 30px;
	
}

.menu li:hover  {
  
  background-color: green;
  color: white;
   font-style: oblique;
 
}
.menu a{
	text-decoration: none;
	color: black;
	
	
}
.menu li {
	list-style: none;
	display: inline;
	border: 2px solid green;
	border-radius: 10px;
	padding: 10px 25px;
	margin-right: 20px;
	 font-style: oblique;
	 background-color: #acd0c0;
	
}
.eigen{
	width: 115px;
	border-radius: 10px;
	border: 1px solid green;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
	
}
.eigen:hover{
	width: 245px;

}
p{
	font-style: oblique;
	margin-left: 41px;
	
}
h1{
	font-style: oblique;
	color: green;
	font-size: 25pt;
	text-align: center;
	font-style: oblique;
	
}
hr{
	border-top: 1px solid green;
}

.gegevens{
	list-style: none;
	color: black;
	margin-top: 50px;
	font-style: oblique;



}
.tijd{
	
 
	padding: 5px 5px;
	border-radius: 10px;
	border: 2px solid green;
	width: 140px;
	margin-top: 30px;
	background-color: #acd0c0;
	font-style: oblique;
}
.logo{
	float: right;
	width: 50px;
	
}

.afbeelding{
	

   text-align: center;
   margin-top: 20px;
 
}
.afbeelding a{
	position: relative;
    display:inline-block;
    text-decoration:none;
    color: black;
	margin-top: 20px;
	font-style: oblique;
}
img.gereedschap{
	 margin-right: 20px;
	
 }
 img.game{
	 margin-right: 20px;
	 margin-left: 20px;
 }  

 img.overall{
	 margin-right: 20px;

	
 }
 img.goodday{
	 margin-right: 20px;
 }
  img.madlibs{
	 margin-right: 20px;
 }
 
 .dvc{
	 float: left;
	 width: 200px;
	 padding-right: 10px;
	 padding-left: 10px;
	 padding-top: 10px;
	 display: block;
	 border-radius: 10px;
	
	 
 }
 .afbeelding a img{
	  opacity: 0.4;
	  transition: 0.3s ease;
 }
 .mandarin:hover, .game:hover, .gereedschap:hover, .manuscript:hover, .goodday:hover, .madlibs:hover, .overall:hover, .hobbit:hover{
 opacity: 1;


}

 .socialmedia {
	 text-align: center;
	
 }
 
 .facebook{
	
 }
 
  .socialmedia a img{
	  opacity: 0.4;
	  transition: 0.3s ease;
  }
  .facebook:hover, .twitter:hover, .instagram:hover {
	   opacity: 1;
  }
 
.voettekst{
	border: 2px solid green;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px ;
	width: 33%;
	margin-bottom: 20px ;
	background-color: #acd0c0;
	border-radius: 10px;
	
}
.tekst1{
	text-align: center;
	font-style: oblique;
}

.opleiding{
text-align: center;
font-style: oblique;
}
.tekst{
	margin-left: 41px;
	font-style: oblique;
}


.tabel{
	margin-top: 30px;
}

input{
	font-style: oblique;
	padding-left: 5px;
}
label{
	 display: block;
	padding-left: 12px;
	 margin-bottom: 20px;
	 
 } 
 .verzendknop{
	 margin-left: 109px;
	 margin-top: 10px;
	 border-radius: 10px;
	border: 2px solid green;
	font-style: oblique;
	 
 }
textarea{
	resize: none;
	font-style: oblique;
	padding-left: 5px;

}
input:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

textarea:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}

.panel{
	
	margin-top: 50px;
	background-color: #acd0c0;
	padding: 20px;
	font-style: oblique;
	
}
.ulpanel{
	list-style: none;
	text-align: center;
}

}