.div1{
	width: 632px;
	margin-left: auto;
	margin-right: auto;
}
.div2{
	width: 632px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../foto's/bgcontent.gif");
	background-repeat: no-repeat;
}
body{
	background-image: url("../foto's/background.jpg");
	background-position: center;
}


li{
	font-family: Times New Roman;
	font-size: 15px;
	display: inline;
	color: #49523d;
	margin-left: 30px;
}
a:hover{
	text-decoration: underline;
		
}
a{
	text-decoration: none;
	color: #49523d;
}

.header{
	width: 595px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	background-color: #49523d;
	background-image: url("../foto's/header.jpg");
	background-repeat: no-repeat;
	background-position: right;
}


h1{
	
	font-family: Times New Roman;
	color: #ffa;
	margin-bottom: 0px;
	padding-top: 50px;
}
h2{
	font-family: Lucida Sans Unicode;
	color: #ffa;
	margin-top: 0px;
}
h3{
	color: #49523d;
	font-family: Times New Roman;
	padding-top: 25px;
	margin-left: 35px;
	margin-right: 35px;
}
h4{
	color: #49523d;
	font-family: Times New Roman;
	margin-left: 35px;
	margin-right: 35px;
}
b{
	font-size: 50px;
}
p{
	font-family: Lucida Sans Unicode;
	font-size: 9pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
	margin-right: 35px;
}
.cursief{
	font-style: italic;
}

.map{
	float: left;
	margin-left: 35px;
	margin-right: 10px;
}