﻿/* scooter planet */
.frame{
	width: 800px;
	background-color: rgba(255,255,224,0.8) ;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
ul.bottom-menu li a:hover {
	text-decoration: underline;	
}
ul.bottom-menu {
	background-color: black;
	font-size: 11px;
	text-align: center;
	padding: 2px;
	
}
ul.bottom-menu li a{
	color: white;
	text-decoration: none;	
}

ul.bottom-menu li  {
	margin-left: 20px;
	margin-right: 20px;
	display:  inline;
	
}

body{
	font-family: Verdena;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
}

.top-menu {
	background-image: url("../foto's/menu-bg.png");
	padding-top: 150px;
	padding-bottom: 150px;
	background-repeat: no-repeat;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	padding-left: 50px;
	text-align: center;
	}
.top-menu li {
	display: inline; 
	margin-left: 15px;	
	margin-right: 15px;
	margin-top: 10px;
	}
.top-menu li a {
	color: #ff4444 ;
	text-decoration: none;	
}
ul.top-menu li a:hover {
	text-decoration: underline;
}

div.content{
	
}
