*{padding:0; margin: 0;}

body{
	
}

.container{
	width: 1175px;
	height: 1000px;
	
	margin-left: auto;
	margin-right: auto;
	
}
 


.header{
	background-image: url("../foto's/header_bg.png");
	margin-top: 20px;
	background-repeat: repeat-x;
}


.menu ul{
	list-style: none;
	float: right;
	padding-right: 10px;
	position: relative;
	bottom: 60px;	
}

.menu li{
	display: inline;
	margin-right: 20px;		
}

.menu a{
	text-decoration: none;
	font-family: Arial;
	color: #385064;
}

.menu li:hover  {
	color: #81A8BC;
}
.bannerfoto{
	float: left;
	padding-right: 20px;;
}
.banner{		
	height: 400px;
	background-image: url("../foto's/banner_bg.png");
	

}

h1{
font-family: Tahoma;	
font-size: 20pt;
color: white;
}
h2{
	font-family: Tahoma;
	font-size: 15pt;
	color: #555555;
	margin-left: 10px;
}

p{
	margin-top: 10px;
	font-family: Tahoma;	
	font-size: 10pt;
	line-height: 155%;
	padding-right: 75px;
	color: white;
}

.foto1 {
	position: relative;
	display: inline-block;	
	margin-left: 30px;	
}

.foto2 {
	position: relative;
	display: inline-block;	
}

.foto3 {
	position: relative;
	display: inline-block;	
}

.producttekst{
	color: black;
	width: 300px;
	margin-left: 4px;
	margin-bottom: 10px;
	font-size: 10pt;
	font-family: Tahoma;
	line-height: 155%;

}
.link1 {
	text-decoration: none;
	color: #555555;
	font-weight: bolder;
}
.link1:hover {
	text-decoration: underline;
}

.footer{
	background-image: url("../foto's/footer_bg.png");
	text-align: center;
	color: white;
	padding: 10px;
	margin-top: 30px;
	font-family: tahoma;
	font-size: 9pt;

}
