body{
	background-color: #1f2d14 ;
	width: 738px;
	margin-right: auto;
	margin-left: auto;
}

.header{
	width: 736px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	background-image: url("../foto's/header.jpg");
	background-repeat: no-repeat;
	height: 180px;
	text-align: center;
}
.menu{
	width: 738px;
	background-image: url("../foto's/menu.gif");
	height: 50px;
	float: left;
	text-align: center;
}

.top-menu{
	padding:0px;
}

li{
	display: inline;
	padding: 30px;
	text-align: center;
	color: white;
}
p{
	margin-left: 30px;
	margin-right: 50px;
	font-family: Verdan;
	font-size: 21px;
}
.tekstkudos3{
	font-size:10px;
}
h1{
	margin-left: 30px;
	margin-top: 10%;
	font-family: Georgia;
}
h2{
margin-left: 30px;	
font-family: Georgia;
}
h3{
	margin-left: 30px;
	font-family: Georgia;
}
h4{
	margin-left: 30px;
	font-family: Georgia;
	font-size: 13px;
	margin-top: 0;
	font-style: italic;
}
.middenkolom{
	background-color: #fff ;
	width: 738px;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	}
img.kudos1{
	float: left;
	margin-right: 20px;
}
img.kudos2{
	float: right;
	margin-left: 20px;
	margin-right: 50px;
}
img.kudos3{
	margin-left: 30px;
	margin-right: 50px;
}

img.kudos4{
	margin-left: 30px;
	margin-right: 50px;
}
img.kudos5{
	float: right;
	margin-right: 50px;
}
a:hover{
	text-decoration: underline;
	color: white;
}
a {
	text-decoration: none;
	color: white;
	font-family: Georgia;
	font-size: 21px;
}
.extra{
	color: #c60;
	font-weight: bolder;
}
.footer{
	color: white;
	background-image: url(footer.jpg);
	background-repeat: no-repeat;
	text-align: center;
	float: left;
	width: 738px;
	padding-top: 10px;
	padding-bottom: 10px;	
	}
