h1 
{
	font-family: Verdana;
	color: white;
	background-color: rgba(20, 130, 219, 0.3);
	text-align: center;
	background-image: url("../foto's/GreenFish.png");
	background-repeat: no-repeat;
	background-position: right;
	padding: 30px;
	
}
body {
	background-color: Turquoise;
	margin-left: 0px;
	margin-top: 0px;
	font-family: Verdana;
	color: black;
	text-align : center; /* IE hack */
}
div {
	width: 700px;
	margin-left : auto;
	margin-right : auto;
	text-align : left; /* IE hack */
	background-color: rgba(255,255,255,0.5);
	border:  solid Turquoise;
	padding: 12px;
	margin-top: 30px;
	
}
a:hover{
	text-decoration: underline;
		
	}
	a{
		text-decoration: none;
	}
	h2 {
		font-family: Georgie;
		color: yellow;
		background-color: rgba(59, 184, 111, 0.3);
		font-style: italic;
		padding: 10px;
		
	}
