* {
	margin : 0;
	padding : 0;
}

body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	background-image : url("../foto's/bg.jpg");
	border : 4px solid red;
	position : relative;
}
a img{
	border: 0;
}
.all{
	position: relative;
}

#title{
	position: absolute;
	left: 20px;
	top: -70px;
}
#hamer{
	z-index: 20;
	position: absolute; 
	right: 200px;
	top: -40px;
}

#schroevendraaier{
	position: absolute;
	right: 30px;
	top: 40px;
}
#nijptang{
	position: absolute;
	right: -20px;
	top:  200px;
}
#zaag{
	position: absolute;
	left: -50px;
	top: 50px;
}

#toolbox{
	position: absolute;
	right: 200px;
	top: 200px;
}

#toolbox ul{
	display: none;
	position: absolute;
	top: 50px;
	list-style: none;
	padding: 0px;
}
#toolbox ul li{
	background-color: white;
	width: 100px;
	padding: 2px:;
	border: black 1xp solid;
}
#toolbox ul li a{
	color: black;
	text-decoration: none;
}
#toolbox ul li a:hover{
	text-decoration: underline;
}
#toolbox:hover ul{
	display: block;
}

#hamer:hover img{
	width: 180px;
}
#zaag:hover img{
	width: 250px;
}
#nijptang:hover img{
	width: 230px;
}

#schroevendraaier:hover img{
	width: 250px;
}

#content{
	margin-top: 400px;
	padding:5px;
	color: white;
}
#content p {
	padding: 5px;
}
.uitleg{
	position: relative;
	color: yellow;
}
.uitleg span{
	display: none;
	position: absolute;
	top: 1,2em ;
	left: 0px;
	width: 100px;
	background-color: white;
	border: 1xp slid red;
	color: red;
	padding: 3px;
}

.uitleg:hover span{
	display: block;
}
.bar{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;
	height: 25px;
	background-image: url("../foto's/bar1.png");
}
.bar ul{
	list-style: none;
	padding: 2px;
}
.bar ul li{
	display: inline;
}
.bar ul li a{
	color: grey;
	text-decoration: none;
	padding: 5px 20px;
}
.bar:hover{
	background-image: url("../foto's/bar2.png");
}
.bar:hover ul li a {
	color: black;
}